@use '/src/scss/open-props/index.scss' as op;

.aboutUs {
}

.heading {
  text-align: center;
  padding-top: op.$size-4;
  padding-bottom: op.$size-3;
  font-family: op.$font-classical-humanist;
}

.scrollTarget {
  position: relative;
  top: 200px;
}
